<src="https://vedabase.io/en/library/bg/"></src>

<div class="container first-container">

    <div class="row">
        <div class="col-12 breadcrumb">

                <a href="/en/library/">Library</a>

        </div>
    </div>

    <div class="row" id="content" tabindex="-1">
        <div class="col-12">
            <div id="bb1" class="mb-3 bb r r-title r-book">
                <h1>Bhagavad-gītā As It Is</h1>
            </div>
        </div>

        <div class="col-12">

            <div id="bb2" class="r-chapter">
                <div id="bb2" class="bb r r-lang-en r-chapter"><a href="/en/library/bg/setting-the-scene/">Setting the Scene</a></div>
            </div>

            <div id="bb21" class="r-chapter">
                <div id="bb21" class="bb r r-lang-en r-chapter"><a href="/en/library/bg/dedication/">Dedication</a></div>
            </div>

            <div id="bb23" class="r-chapter">
                <div id="bb23" class="bb r r-lang-en r-chapter"><a href="/en/library/bg/preface/">Preface</a></div>
            </div>

            <div id="bb31" class="r-chapter">
                <div id="bb31" class="bb r r-lang-en r-chapter"><a href="/en/library/bg/introduction/">Introduction</a></div>
            </div>

            <div id="bb179" class="r-chapter">
                <div id="bb179" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/1/">Chapter One</a>: Observing the Armies on the Battlefield of Kurukṣetra</div>
            </div>

            <div id="bb394" class="r-chapter">
                <div id="bb394" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/2/">Chapter Two</a>: Contents of the Gītā Summarized</div>
            </div>

            <div id="bb869" class="r-chapter">
                <div id="bb869" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/3/">Chapter Three</a>: Karma-yoga</div>
            </div>

            <div id="bb1120" class="r-chapter">
                <div id="bb1120" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/4/">Chapter Four</a>: Transcendental Knowledge</div>
            </div>

            <div id="bb1374" class="r-chapter">
                <div id="bb1374" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/5/">Chapter Five</a>: Karma-yoga – Action in Kṛṣṇa Consciousness</div>
            </div>

            <div id="bb1549" class="r-chapter">
                <div id="bb1549" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/6/">Chapter Six</a>: Dhyāna-yoga</div>
            </div>

            <div id="bb1843" class="r-chapter">
                <div id="bb1843" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/7/">Chapter Seven</a>: Knowledge of the Absolute</div>
            </div>

            <div id="bb2083" class="r-chapter">
                <div id="bb2083" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/8/">Chapter Eight</a>: Attaining the Supreme</div>
            </div>

            <div id="bb2250" class="r-chapter">
                <div id="bb2250" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/9/">Chapter Nine</a>: The Most Confidential Knowledge</div>
            </div>

            <div id="bb2493" class="r-chapter">
                <div id="bb2493" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/10/">Chapter Ten</a>: The Opulence of the Absolute</div>
            </div>

            <div id="bb2762" class="r-chapter">
                <div id="bb2762" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/11/">Chapter Eleven</a>: The Universal Form</div>
            </div>

            <div id="bb3063" class="r-chapter">
                <div id="bb3063" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/12/">Chapter Twelve</a>: Devotional Service</div>
            </div>

            <div id="bb3174" class="r-chapter">
                <div id="bb3174" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/13/">Chapter Thirteen</a>: Nature, the Enjoyer and Consciousness</div>
            </div>

            <div id="bb3366" class="r-chapter">
                <div id="bb3366" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/14/">Chapter Fourteen</a>: The Three Modes of Material Nature</div>
            </div>

            <div id="bb3503" class="r-chapter">
                <div id="bb3503" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/15/">Chapter Fifteen</a>: The Yoga of the Supreme Person</div>
            </div>

            <div id="bb3624" class="r-chapter">
                <div id="bb3624" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/16/">Chapter Sixteen</a>: The Divine and Demoniac Natures</div>
            </div>

            <div id="bb3750" class="r-chapter">
                <div id="bb3750" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/17/">Chapter Seventeen</a>: The Divisions of Faith</div>
            </div>

            <div id="bb3890" class="r-chapter">
                <div id="bb3890" class="r bb r-lang-en r-chapter"><a href="/en/library/bg/18/">Chapter Eighteen</a>: Conclusion – The Perfection of Renunciation</div>
            </div>

            <div id="bb4297" class="r-chapter">
                <div id="bb4297" class="bb r r-lang-en r-chapter"><a href="/en/library/bg/note-2nd-edition/">A Note About the Second Edition</a></div>
            </div>

        </div>


    </div>

</div>
