<src="https://vedabase.io/en/library/bg/1/"></src>

<div class="container first-container">

  <div class="row">
      <div class="col-12 breadcrumb">

              <a href="/en/library/">Library</a> »

              <a href="/en/library/bg/">Bhagavad-gītā As It Is</a>

      </div>
  </div>

  <div class="row" id="content" tabindex="-1">
      <div class="col-12">
          <div id="bb179" class="r r-title-small r-chapter">
              <h1>Chapter One</h1>
          </div>


                <div class="rich-text"><div id="bb180" class="r r-lang-en r-chapter-title r-title" ><h1>Observing the Armies on the Battlefield of Kurukṣetra</h1></div></div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb181">
          <dt><a href="/en/library/bg/1/1/">TEXT 1:</a></dt>
          <dd>Dhṛtarāṣṭra said: O Sañjaya, after my sons and the sons of Pāṇḍu assembled in the place of pilgrimage at Kurukṣetra, desiring to fight, what did they do?</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb190">
          <dt><a href="/en/library/bg/1/2/">TEXT 2:</a></dt>
          <dd>Sañjaya said: O King, after looking over the army arranged in military formation by the sons of Pāṇḍu, King Duryodhana went to his teacher and spoke the following words.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb196">
          <dt><a href="/en/library/bg/1/3/">TEXT 3:</a></dt>
          <dd>O my teacher, behold the great army of the sons of Pāṇḍu, so expertly arranged by your intelligent disciple the son of Drupada.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb201">
          <dt><a href="/en/library/bg/1/4/">TEXT 4:</a></dt>
          <dd>Here in this army are many heroic bowmen equal in fighting to Bhīma and Arjuna: great fighters like Yuyudhāna, Virāṭa and Drupada.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb206">
          <dt><a href="/en/library/bg/1/5/">TEXT 5:</a></dt>
          <dd>There are also great heroic, powerful fighters like Dhṛṣṭaketu, Cekitāna, Kāśirāja, Purujit, Kuntibhoja and Śaibya.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb210">
          <dt><a href="/en/library/bg/1/6/">TEXT 6:</a></dt>
          <dd>There are the mighty Yudhāmanyu, the very powerful Uttamaujā, the son of Subhadrā and the sons of Draupadī. All these warriors are great chariot fighters.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb214">
          <dt><a href="/en/library/bg/1/7/">TEXT 7:</a></dt>
          <dd>But for your information, O best of the brāhmaṇas, let me tell you about the captains who are especially qualified to lead my military force.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb218">
          <dt><a href="/en/library/bg/1/8/">TEXT 8:</a></dt>
          <dd>There are personalities like you, Bhīṣma, Karṇa, Kṛpa, Aśvatthāmā, Vikarṇa and the son of Somadatta called Bhūriśravā, who are always victorious in battle.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb223">
          <dt><a href="/en/library/bg/1/9/">TEXT 9:</a></dt>
          <dd>There are many other heroes who are prepared to lay down their lives for my sake. All of them are well equipped with different kinds of weapons, and all are experienced in military science.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb228">
          <dt><a href="/en/library/bg/1/10/">TEXT 10:</a></dt>
          <dd>Our strength is immeasurable, and we are perfectly protected by Grandfather Bhīṣma, whereas the strength of the Pāṇḍavas, carefully protected by Bhīma, is limited.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb233">
          <dt><a href="/en/library/bg/1/11/">TEXT 11:</a></dt>
          <dd>All of you must now give full support to Grandfather Bhīṣma, as you stand at your respective strategic points of entrance into the phalanx of the army.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb238">
          <dt><a href="/en/library/bg/1/12/">TEXT 12:</a></dt>
          <dd>Then Bhīṣma, the great valiant grandsire of the Kuru dynasty, the grandfather of the fighters, blew his conchshell very loudly, making a sound like the roar of a lion, giving Duryodhana joy.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb243">
          <dt><a href="/en/library/bg/1/13/">TEXT 13:</a></dt>
          <dd>After that, the conchshells, drums, bugles, trumpets and horns were all suddenly sounded, and the combined sound was tumultuous.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb247">
          <dt><a href="/en/library/bg/1/14/">TEXT 14:</a></dt>
          <dd>On the other side, both Lord Kṛṣṇa and Arjuna, stationed on a great chariot drawn by white horses, sounded their transcendental conchshells.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb252">
          <dt><a href="/en/library/bg/1/15/">TEXT 15:</a></dt>
          <dd>Lord Kṛṣṇa blew His conchshell, called Pāñcajanya; Arjuna blew his, the Devadatta; and Bhīma, the voracious eater and performer of herculean tasks, blew his terrific conchshell, called Pauṇḍra.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb258">
          <dt><a href="/en/library/bg/1/16-18/">TEXTS 16-18:</a></dt>
          <dd>King Yudhiṣṭhira, the son of Kuntī, blew his conchshell, the Ananta-vijaya, and Nakula and Sahadeva blew the Sughoṣa and Maṇipuṣpaka. That great archer the King of Kāśī, the great fighter Śikhaṇḍī, Dhṛṣṭadyumna, Virāṭa, the unconquerable Sātyaki, Drupada, the sons of Draupadī, and others, O King, such as the mighty-armed son of Subhadrā, all blew their respective conchshells.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb265">
          <dt><a href="/en/library/bg/1/19/">TEXT 19:</a></dt>
          <dd>The blowing of these different conchshells became uproarious. Vibrating both in the sky and on the earth, it shattered the hearts of the sons of Dhṛtarāṣṭra.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb270">
          <dt><a href="/en/library/bg/1/20/">TEXT 20:</a></dt>
          <dd>At that time Arjuna, the son of Pāṇḍu, seated in the chariot bearing the flag marked with Hanumān, took up his bow and prepared to shoot his arrows. O King, after looking at the sons of Dhṛtarāṣṭra drawn in military array, Arjuna then spoke to Lord Kṛṣṇa these words.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb275">
          <dt><a href="/en/library/bg/1/21-22/">TEXTS 21-22:</a></dt>
          <dd>Arjuna said: O infallible one, please draw my chariot between the two armies so that I may see those present here, who desire to fight, and with whom I must contend in this great trial of arms.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb283">
          <dt><a href="/en/library/bg/1/23/">TEXT 23:</a></dt>
          <dd>Let me see those who have come here to fight, wishing to please the evil-minded son of Dhṛtarāṣṭra.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb288">
          <dt><a href="/en/library/bg/1/24/">TEXT 24:</a></dt>
          <dd>Sañjaya said: O descendant of Bharata, having thus been addressed by Arjuna, Lord Kṛṣṇa drew up the fine chariot in the midst of the armies of both parties.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb294">
          <dt><a href="/en/library/bg/1/25/">TEXT 25:</a></dt>
          <dd>In the presence of Bhīṣma, Droṇa and all the other chieftains of the world, the Lord said, “Just behold, Pārtha, all the Kurus assembled here.”</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb299">
          <dt><a href="/en/library/bg/1/26/">TEXT 26:</a></dt>
          <dd>There Arjuna could see, within the midst of the armies of both parties, his fathers, grandfathers, teachers, maternal uncles, brothers, sons, grandsons, friends, and also his fathers-in-law and well-wishers.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb304">
          <dt><a href="/en/library/bg/1/27/">TEXT 27:</a></dt>
          <dd>When the son of Kuntī, Arjuna, saw all these different grades of friends and relatives, he became overwhelmed with compassion and spoke thus.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb308">
          <dt><a href="/en/library/bg/1/28/">TEXT 28:</a></dt>
          <dd>Arjuna said: My dear Kṛṣṇa, seeing my friends and relatives present before me in such a fighting spirit, I feel the limbs of my body quivering and my mouth drying up.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb316">
          <dt><a href="/en/library/bg/1/29/">TEXT 29:</a></dt>
          <dd>My whole body is trembling, my hair is standing on end, my bow Gāṇḍīva is slipping from my hand, and my skin is burning.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb321">
          <dt><a href="/en/library/bg/1/30/">TEXT 30:</a></dt>
          <dd>I am now unable to stand here any longer. I am forgetting myself, and my mind is reeling. I see only causes of misfortune, O Kṛṣṇa, killer of the Keśī demon.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb326">
          <dt><a href="/en/library/bg/1/31/">TEXT 31:</a></dt>
          <dd>I do not see how any good can come from killing my own kinsmen in this battle, nor can I, my dear Kṛṣṇa, desire any subsequent victory, kingdom or happiness.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb331">
          <dt><a href="/en/library/bg/1/32-35/">TEXTS 32-35:</a></dt>
          <dd>O Govinda, of what avail to us are a kingdom, happiness or even life itself when all those for whom we may desire them are now arrayed on this battlefield? O Madhusūdana, when teachers, fathers, sons, grandfathers, maternal uncles, fathers-in-law, grandsons, brothers-in-law and other relatives are ready to give up their lives and properties and are standing before me, why should I wish to kill them, even though they might otherwise kill me? O maintainer of all living entities, I am not prepared to fight with them even in exchange for the three worlds, let alone this earth. What pleasure will we derive from killing the sons of Dhṛtarāṣṭra?</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb339">
          <dt><a href="/en/library/bg/1/36/">TEXT 36:</a></dt>
          <dd>Sin will overcome us if we slay such aggressors. Therefore it is not proper for us to kill the sons of Dhṛtarāṣṭra and our friends. What should we gain, O Kṛṣṇa, husband of the goddess of fortune, and how could we be happy by killing our own kinsmen?</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb344">
          <dt><a href="/en/library/bg/1/37-38/">TEXTS 37-38:</a></dt>
          <dd>O Janārdana, although these men, their hearts overtaken by greed, see no fault in killing one’s family or quarreling with friends, why should we, who can see the crime in destroying a family, engage in these acts of sin?</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb350">
          <dt><a href="/en/library/bg/1/39/">TEXT 39:</a></dt>
          <dd>With the destruction of the dynasty, the eternal family tradition is vanquished, and thus the rest of the family becomes involved in irreligion.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb355">
          <dt><a href="/en/library/bg/1/40/">TEXT 40:</a></dt>
          <dd>When irreligion is prominent in the family, O Kṛṣṇa, the women of the family become polluted, and from the degradation of womanhood, O descendant of Vṛṣṇi, comes unwanted progeny.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb360">
          <dt><a href="/en/library/bg/1/41/">TEXT 41:</a></dt>
          <dd>An increase of unwanted population certainly causes hellish life both for the family and for those who destroy the family tradition. The ancestors of such corrupt families fall down, because the performances for offering them food and water are entirely stopped.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb367">
          <dt><a href="/en/library/bg/1/42/">TEXT 42:</a></dt>
          <dd>By the evil deeds of those who destroy the family tradition and thus give rise to unwanted children, all kinds of community projects and family welfare activities are devastated.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb372">
          <dt><a href="/en/library/bg/1/43/">TEXT 43:</a></dt>
          <dd>O Kṛṣṇa, maintainer of the people, I have heard by disciplic succession that those whose family traditions are destroyed dwell always in hell.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb377">
          <dt><a href="/en/library/bg/1/44/">TEXT 44:</a></dt>
          <dd>Alas, how strange it is that we are preparing to commit greatly sinful acts. Driven by the desire to enjoy royal happiness, we are intent on killing our own kinsmen.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb382">
          <dt><a href="/en/library/bg/1/45/">TEXT 45:</a></dt>
          <dd>Better for me if the sons of Dhṛtarāṣṭra, weapons in hand, were to kill me unarmed and unresisting on the battlefield.</dd>
          </dl>
          </div>

                  <div class="rich-text">
          <dl class="r r-verse" id="bb387">
          <dt><a href="/en/library/bg/1/46/">TEXT 46:</a></dt>
          <dd>Sañjaya said: Arjuna, having thus spoken on the battlefield, cast aside his bow and arrows and sat down on the chariot, his mind overwhelmed with grief.</dd>
          </dl>
          </div>


      </div>
  </div>

</div>
